/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
    background: url(home-background.jpeg) center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-color: rgb(255,255,255);
    max-width: 85rem;
    margin: auto;
}

div.container { 
    position: relative;
    min-height: 100vh;
    background-color: rgb(255,255,255);
    max-width: 85rem;
    margin: auto;

}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */
body {  
    font-family: sans-serif;
    background-color: rgb(199, 220, 167) 
} 

main { 
    padding: 1em 2em 6em;
    }

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(204,204,204);
    padding: 1.5em 1em;
    }

h1 {
    width: 16em;
    }

h2, h3, h4 {
    font-weight: bold;
    }

h2 {
	font-family: "warbler-banner", sans-serif;
	font-weight: 700;
	font-style: normal;
    font-size: 1.5em;
    margin: 1em 0em 0.5em;
    }
    
h3 {
    font-family: "warbler-banner", sans-serif;
	font-weight: 700;
	font-style: normal;
    font-size: 1.2em;
    margin: 1em 0em 0.5em;
}

h4 {
	font-family: "houschka-pro", sans-serif;
	font-weight: 700;
	font-style: normal;
}

div.homepage {
    color: rgb(255,255,255);
    margin-left: 2em;
}

a {
    text-decoration: none;
    }

nav ul  {
    text-align: right;
    }

nav ul li.selected a {
    background-color: rgb(162, 162, 162);
    color: rgb(255,255,255);
    }
    
ul li   {
    list-style-type: none;
}

figure {
    margin-bottom: 1em;
}

figcaption {
    font-family: "houschka-pro", sans-serif;
	font-weight: 500;
	font-style: italic;
    font-size: 1.5em;
    padding-bottom: 2em;
}

main.menu ul {
        margin: 2em 0em;    
}   

main.menu ul li {
	font-family: "houschka-pro", sans-serif;
	font-weight: 500;
	font-style: normal;
    margin: 1em 0em 2em;
    display: grid;
	grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}   

p {
	font-family: "houschka-pro", sans-serif;
	font-weight: 500;
	font-style: normal;
    margin: 1em 0em 1em;
    }
    
p.description {
    grid-column: 1/3;
    margin: 0em;
    }
    
p.price {
	font-family: "houschka-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
    grid-row: 1/2;
    grid-column: 2/3;
    color: rgb(162, 162, 162);
    text-align: right;
    margin: 0;
    }
    
nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5em;
    }
    
nav ul li a {
    color: rgb(255, 255, 255);
    background-color: rgb(162, 162, 162);
    padding: 0.5em;
    }

p.slogan {
    font-family: "warbler-banner", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;
    margin: 1em 0em 1em;   
}
footer {
	font-family: "houschka-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem; 
	box-sizing: border-box;
	padding: 0.75em 1em;
	background: rgb(162, 162, 162);
}

address {
    font-family: "houschka-pro", sans-serif;
	font-weight: 500;
	font-style: normal;
    line-height: 1.5rem;
    }

footer p {
    margin: 0.5em;
}
@media screen and (min-width: 60em) {
    main.menu ul{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 6em;
    }
    ul{
        display: grid;
        grid-template-columns: repeat (4, 1fr);
    }
    nav ul{
        display: grid;
        font-size: 1.5em;
        grid-template-columns: repeat(3, auto);
        grid-gap: 0.5em;
        justify-content: end;
        margin: 1.5em 0em 0em 0em;
    }
}
article {
    max-width: 40em;
    margin: 0 auto;
    }
